 .u-section-1 {
  background-image: url("images/90ad9eba9762f46dbcd83297f0639522.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 802px;
  position: relative;
}

.u-section-1 .u-group-1 {
  width: 934px;
  min-height: 267px;
  margin: 280px auto 59px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 64px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 36px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 587px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(#d9945e, #fce69c);
}

.u-section-2 .u-sheet-1 {
  min-height: 650px;
  position: relative;
}

.u-section-2 .u-layout-wrap-1 {
  width: 934px;
  margin: 148px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 365px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 52px;
  width: 64px;
  margin: 31px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 18px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 20px 35px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 365px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 52px;
  width: 64px;
  margin: 29px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 20px 35px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 365px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 24px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 30px 20px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-icon-1 {
    height: 38px;
    width: 38px;
    margin-top: 27px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 27px;
  }

  .u-section-2 .u-icon-2 {
    height: 38px;
    width: 38px;
    margin-top: 27px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 27px;
  }

  .u-section-2 .u-icon-3 {
    height: 38px;
    width: 38px;
    margin-top: 27px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-top: 31px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-icon-2 {
    height: 32px;
    width: 32px;
    margin-top: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-icon-3 {
    height: 32px;
    width: 32px;
    margin-top: 25px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 35px;
  }
} .u-section-3 {
  background-image: url("images/CapturadePantalla2021-09-18ales20.36.58.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 934px;
  margin: 90px auto 71px 103px;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 470px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 470px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-3 .u-text-2 {
  margin: 40px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 770px;
    margin-bottom: 50px;
    margin-left: 85px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-size: 1.875rem;
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 590px;
    margin-top: -121px;
    margin-bottom: 54px;
    margin-left: 65px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 157px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin: 41px 0 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 413px;
    margin-top: -131px;
    margin-bottom: 40px;
    margin-left: 64px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin: 40px 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -34px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 147px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-bottom: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 17px;
  }

  .u-section-3 .u-text-2 {
    margin: 54px 6px;
  }
} .u-section-4 {
  background-image: linear-gradient(white, #d9945e);
}

.u-section-4 .u-sheet-1 {
  min-height: 641px;
}

.u-section-4 .u-image-1 {
  width: 613px;
  height: 507px;
  object-position: 50% 40%;
  background-position: 50% 10.97%;
  margin: 48px 85px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 490px;
  min-height: 433px;
  margin: -451px auto 60px -19px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 37px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-4 .u-line-1 {
  width: 45px;
  position: relative;
  transform-origin: left center 0px;
  transform: rotate(359.983deg);
  margin: 30px 368px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin: 30px 295px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    position: relative;
    width: 505px;
    margin-right: 70px;
  }

  .u-section-4 .u-group-1 {
    width: 404px;
    min-height: 339px;
    margin-top: -406px;
    margin-bottom: 94px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    font-size: 1.875rem;
  }

  .u-section-4 .u-line-1 {
    width: 37px;
    margin-right: 300px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
    margin-right: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-4 .u-image-1 {
    width: 612px;
    margin-top: 55px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    width: 512px;
    margin-top: -60px;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-text-1 {
    width: 362px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-1 {
    width: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 362px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 430px;
    min-height: 403px;
    margin-top: -115px;
    margin-bottom: 80px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    width: 382px;
  }

  .u-section-4 .u-line-1 {
    width: 27px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 382px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-4 .u-image-1 {
    height: 319px;
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 290px;
    min-height: 406px;
    margin-top: -58px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    width: 252px;
  }

  .u-section-4 .u-line-1 {
    width: 22px;
  }

  .u-section-4 .u-text-2 {
    width: 252px;
  }
} .u-section-5 {
  background-image: linear-gradient(#d9945e, #fef9e6);
}

.u-section-5 .u-sheet-1 {
  min-height: 603px;
}

.u-section-5 .u-image-1 {
  width: 610px;
  height: 507px;
  object-position: 50% 22.58%;
  background-position: 50% 10.97%;
  margin: 39px auto 0 80px;
}

.u-section-5 .u-group-1 {
  width: 490px;
  min-height: 328px;
  margin: -408px 0 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 37px;
  padding-right: 34px;
}

.u-section-5 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-5 .u-line-1 {
  width: 45px;
  transform-origin: left center 0px;
  transform: rotate(359.983deg);
  margin: 30px 385px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  margin: 30px 312px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-5 .u-image-1 {
    position: relative;
  }

  .u-section-5 .u-group-1 {
    position: relative;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 35px;
    margin-right: 32px;
    font-size: 1.875rem;
  }

  .u-section-5 .u-line-1 {
    width: 37px;
    position: relative;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 20px;
  }

  .u-section-5 .u-btn-1 {
    position: relative;
    margin-right: auto;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 64px;
    padding-right: 64px;
  }

  .u-section-5 .u-text-1 {
    width: 362px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-line-1 {
    width: 28px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: 362px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-5 .u-image-1 {
    height: 449px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: -350px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: 171px;
  }

  .u-section-5 .u-line-1 {
    width: 26px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 394px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-5 .u-image-1 {
    height: 283px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: -184px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
    width: 210px;
  }

  .u-section-5 .u-line-1 {
    width: 22px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
    width: 225px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 994px;
}

.u-section-6 .u-group-1 {
  min-height: 150px;
  width: 800px;
  margin: 55px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 47px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 934px;
  margin: 28px auto 0 103px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 495px;
}

.u-section-6 .u-image-1 {
  height: 250px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-6 .u-text-3 {
  width: 231px;
  font-size: 1rem;
  font-style: normal;
  margin: 20px auto 14px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 495px;
}

.u-section-6 .u-image-2 {
  height: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  width: 231px;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 30px 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 495px;
}

.u-section-6 .u-image-3 {
  height: 250px;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 30px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.875rem;
  margin: 146px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    position: relative;
    width: 660px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 28px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 770px;
    margin-top: 25px;
    margin-left: 85px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-6 .u-image-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    font-size: 0.875rem;
    width: 190px;
    font-style: italic;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 23px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-6 .u-image-2 {
    position: relative;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    width: 190px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    font-size: 0.875rem;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 6px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 504px;
  }

  .u-section-6 .u-image-3 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-7 {
    position: relative;
    font-size: 0.875rem;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-6 .u-group-1 {
    min-height: 161px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 105px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    width: 146px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 50px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-6 .u-text-4 {
    width: 146px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 33px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 544px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-6 .u-group-1 {
    min-height: 150px;
    margin-top: 66px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 114px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    width: 522px;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 15px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
    margin-left: 9px;
    margin-right: 9px;
    width: 522px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 15px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 496px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 9px;
    width: 328px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
    width: 328px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 9px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 490px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
}